@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');



/* ==========================================================================
 Eliminate unwanted screen space
 ========================================================================== */


body {
  overflow-x:hidden;
}

/* ==========================================================================
 Remove defalut fieldset styles
 ========================================================================== */


fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/* ==========================================================================
 Allow only vertical resizing of textareas.
 ========================================================================== */

textarea {
    resize: vertical;
}

/* ==========================================================================
 Browser Upgrade Prompt
 ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
 Global adjustments / Global fonts
 ========================================================================== */
.contenedor {
    width: 200%;
    margin: 0 auto;
}

div.titulos h1{
  margin-top: 80px;
}

div.titulosclientes h1{
  margin-top: 100px;
}

.titles {
  width: 75%; 
  margin: 0 auto; 
}

.titles hr {
  border-top: 2px solid #bfbfbf;
  width: 95%;
  margin-top: .0rem;
  margin-bottom: 1rem;
}

.service-heading{
  font-size: 1.5rem;
  color: #1b5583;
}

.padding {
  padding-bottom: 2rem; 
  padding-top: 2rem;
}

kbd{
  background-color: #1b5583;
}

html,body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif; 
  font: #222
}

footer{
  background-color: #191919;
  color:#d5d5d5;
  padding-top: 2rem;
}

footer a{
  color: #d5d5d5;
}

hr.light{
  border-top:1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

hr.light-100{
  border-top:1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

/* ==========================================================================
 Navigation Bar
 ========================================================================== */
.navbar{
  padding: .8rem;
  background-color: #27397c;
  background: #27397c;
  border-color: #FFF;
  
}

.navbar-nav li {
  padding-right: 20px;
  border-color: #FFF;
}

.nav-link{
  font-size: 1.2rem !important;
  font-style: bold;

}

.bg-dark{
  transition: 750ms ease;
  background: #27397c !important;
  border-color: #FFF;
}

.bg-dark.scrolled{
  background: #191919 !important; 
  font-color: #000 !important;
}


div.logo img {
    height: 80px;
    display: block;
    margin-left:-28px;
    margin-top: -13px;
    margin-bottom:-13.12px;
}


div.logo.scrolled img {
    height: 80px;
    display: block;
    margin-left:-28px;
    margin-top: -13px;
    margin-bottom:-13.12px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 60px;
}



/* ==========================================================================
 Carousel
 ========================================================================== */

.carousel-inner img{
  width: 100%; 
  height: 200%;
}

.carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-25%);
}

.carousel-caption img{
  width: 50%; 
  height: 160%;
  position: center;
  transform: translateY(-25%); 
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow:  1px 1px 10px #000;   /*vertical, horizontal, width, color*/
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500; 
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem
}


/* ==========================================================================
 Buttons
 ========================================================================== */

.btn-primary{
  background-color: #008000;
  border: 1px solid #008000; 
}

.btn-primary:hover {
  background-color: #006000; 
  border: #006000;
}

.button {
    background-color: #ffffff;
    padding: 5px 20px;
    color: #000000;
    text-decoration: none;
    margin-top: 20px;
    transition: all .6s ease;
    border: 2px solid #000000;



}

.button:hover {
    background-color: #27397c;
    color: #ffffff;
}



/* ==========================================================================
 Counter
 ========================================================================== */
.parallax::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;
    filter: brightness(.8)
}

h2.titulo-seccion {
    position: relative;
    padding: 50px 0;
    text-align: center;
    color: white;
    font-size: 4em;
    margin: 0;
}



/* ==========================================================================
 Bellow carousel message
 ========================================================================== */
.jumbotron {
  padding: 1rem;
  padding-top: 1.4rem;
  border-radius: 0;
  background-color: #191919;
  color: #FFF; 
}

.jumbotron p {
  font-size: 30px; 
  text-align: center;
}



/* ==========================================================================
 Enterprise general facts
 ========================================================================== */
#factores {
  background-color:  #27397c;
  padding: 0px;
  color: #FFF;
}

#clientes {
  background-color:  #ffffff;
  padding: 0px;
  color: #FFF;
}



/* ==========================================================================
 Enterprise's Service Description Cards 
 ========================================================================== */

.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}




/* ==========================================================================
 Clients 
 ========================================================================== */


/* =========== =========== =========== =========== =========== =========== =========== =========== =========== == */




div.clientlogo img {
    height: 60px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: : 30px;
    margin-left: 0px;
    display: block;
}

div.clientlogoair img {
    height: 70px;
    padding: 10px;
    margin-left: 70px;
    display: block;
}

div.clientlogolth img {
    height: 70px;
    padding: 10px;
    display: block;
}

div.clientlogoamcor img {
    height: 60px;
    padding: 10px;
    margin: 30px;
    margin-left: 70px;
    display: block;
}

div.clientlogografo img {
    height: 100px;
    padding: 10px;
    margin-top: 10px;
    display: block;
}

div.clientlogoenersys img {
    height: 100px;
    padding: 10px;
    margin-left: 200px;
    display: block;
}
div.clientlogolth img {
    height: 90px;
    padding: 10px;
    display: block;
}





/* ==========================================================================
 Contact
 ========================================================================== */

div.informacion-usuario > input {
    padding: 5px 10px;
    font-size: 15px;
    width: 75%;
    height: 30px;
    margin-top: 7px;
    background: rgba(255,255,255,.8);
}

div.mensaje-usuario {
    height: 210px;
    margin-top: 7px;
    position: relative;
    overflow: hidden;
}

div.mensaje-usuario > textarea {
    height: 100%;
    width: 75%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    resize: none;
    background: rgba(255,255,255,.8);
}

div.contactfix{
    margin-bottom: 30px;
}


/* ==========================================================================
 Icons
 ========================================================================== */

.fa-suitcase, .fa-check, .fa-users, .fa-sitemap, .fa-truck{
  color: #FFF;
  font-size: 4.5em; 
}



/* --------- SLANTED---------*/
/*.edge--both--reverse:before {
  top: 0;
  -webkit-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.edge--both--reverse:after {
  bottom: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.edge--both--reverse {
  position: relative;
  z-index: 1;
}
.edge--both--reverse:before, .edge--both--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

.edge--bottom {
  position: relative;
  z-index: 1;
}
.edge--bottom:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom:after {
  bottom: 0;
  -webkit-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

.edge--bottom--reverse {
  position: relative;
  z-index: 1;
}
.edge--bottom--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom--reverse:after {
  bottom: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}*/


/* ==========================================================================
 Media Queries
 ========================================================================== */
@media (max-width: 992px) {

.carousel-caption{
    top: 45%;
  }

  .social a {
    font-size: 4em; 
    padding: 2rem;
  }


}
@media (max-width: 768px) {
  
  .carousel-caption{
    top: 50%;
  }

  .carousel-caption h1 {
    font-size: 350%; 
  }

  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400; 
    padding-bottom: .2rem
  }

  .carousel-caption .btn{
    font-size: 95%; 
    padding: 8px 14px;
  }

  .display-4{
    font-size: 200%;
  } 


  .jumbotron p {
    font-size: 25px; 
  }
   .bg-dark{
  transition: 750ms ease;
  background: #191919 !important;
  border-color: #FFF;
  }
   .carousel-inner img{
    position: relative;
    width: 100%;
    margin-top: 5.7rem;
  }


}
@media (max-width: 576px) {
  
  .carousel-caption{
    top: 55%;
  }

  .carousel-caption h1 {
    font-size: 250%; 
  }

  .carousel-caption h3 {
    font-size: 110%;
  }

  .carousel-caption .btn{
    display:none;
  }

  .carousel-indicators{
    display: none;
  }

   .display-4{
    font-size: 160%;
  } 

  .social a {
    font-size: 2em; 
    padding: .7rem;
  }


  .jumbotron p {
    font-size: 20px; 
  }

  .bg-dark{
  transition: 750ms ease;
  background: #191919 !important;
  border-color: #FFF;
  }
  
  .carousel-inner img{
    position: relative;
    width: 100%;
    margin-top: 5.7rem;
  }

}





/* ==========================================================================
 Fixes
 ========================================================================== */

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}



/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png') !important;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}



/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}






/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








